@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body { 
    margin: 0;
    color: white;
    overflow-x: hidden;
    
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    height: 75px;
    margin-bottom: 3%;
    width: 103%;
}

nav img {
    margin-left:110px;
    margin-top: 13px;
    height: 50px;
    width: 100px;
}

.CadastroUsuaria2 {
    width:430px;
    justify-content: center;
}

.select {
    border: none;
    border-radius: 11px;
    margin-bottom: 11px;
    height: 70px;
    text-align: center;
    color: gray;
    width: 430px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


input[type="text"] {
    height: 70px;
    border-radius: 11px;
    margin-bottom: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* From uiverse.io by @Voxybuns */
.button_top {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: rgba(255, 255, 255, 0.3);
   --button_outline_color: #F3C42E;
   font-size: 20px;
   font-weight: bold;
   font-family: 'Roboto Slab';
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   margin: 12px;
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.25em 1.0em;
   background: var(--button_color);
   color: white;
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  .button_top:hover {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
   background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }

.curriculo {
    border: 6px dashed white;
    padding: 50px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 290px;
    margin: 16px 0;
}


.choose::-webkit-file-upload-button {
    visibility: hidden;
}

.choose::before {
    -webkit-user-select: none;
}

.submitBtn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Roboto Slab';
    text-decoration: underline;
    margin: 40px;
    width: 85%;
}

.submitBtn:hover {
    color: rgb(217, 217, 217);
}


@media only screen and (max-width: 600px) {
    .select{
        width: 80%;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body{
        height: 200%;
    }

 }