<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Administradora</title>
    
    <link rel="stylesheet" href="../styles/ADMstyle-dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <section id="menu">
        <div class="logo">
            <img class="log" src="../images/logo.svg" style="width: 110px;height: 45px;" alt="Logo Brazilians in Tech">
        </div>
        <div class="items">
            <li><i class="fab fa-uikit"></i><a href="./adm.html"> Dashboard </a></li>
            <li><i class="fas fa-users"></i><a href="./membros.html"> Membros </a></li>
            <li><i class="fas fa-edit"></i></i><a href="./vagas.html"> Vagas </a></li>
            <li><i class="fas fa-chart-line"></i><a href="./empresas.html"> Empresas </a></li> 
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="faz fa-bars"></i>
                </div>
                <div class="search">
                    <i class="far fa-search"></i>
                    <input type="text"placeholder="Search" >
                </div>
            </div>
            <div class="profile">
                <i class="far fa-bell"></i>
                <i class="fa-regular fa-person-walking-arrow-right"></i>
            </div>
        </div>
        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="values">

            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>8,267</h3>
                    <span>Novas usuárias</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fas fa-chart-line"></i>
                <div>
                    <h3>8,267</h3>
                    <span>Empresas</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fas fa-edit"></i>
                <div>
                    <h3>8,267</h3>
                    <span>Vagas cadastradas</span>
                </div>
            </div>

        </div>
        
        <dir class="board">
            <table width="100%">
                <thead>
                    <tr>  
                        <td>Nome</td>
                        <td>Título</td>
                        <td>Status</td>
                        <td>Cargo</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                            <img src="mulheres.jpg"alt="">
                            <div class="people-de">
                                <h5>Izabella</h5>
                                <p>izabella@sou.intech.com</p>
                        </td>

                        <td class="people-designation">
                            <h5>Engenheira de Software</h5>
                            <p>Web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role">
                            <p>Estagiária</p>
                        </td>

                        <td class="edit"><a href="#"> Ver perfil </a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <img src="mulheres.jpg"alt="">
                            <div class="people-de">
                                <h5>Izabella</h5>
                                <p>izabella@sou.intech.com</p>
                        </td>

                        <td class="people-designation">
                            <h5>Engenheira de Software</h5>
                            <p>Web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role">
                            <p>Estagiária</p>
                        </td>

                        <td class="edit"><a href="#"> Ver perfil </a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <img src="mulheres.jpg"alt="">
                            <div class="people-de">
                                <h5>Izabella</h5>
                                <p>izabella@sou.intech.com</p>
                        </td>

                        <td class="people-designation">
                            <h5>Engenheira de Software</h5>
                            <p>Web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role">
                            <p>Estagiária</p>
                        </td>

                        <td class="edit"><a href="#"> Ver perfil </a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <img src="mulheres.jpg"alt="">
                            <div class="people-de">
                                <h5>Izabella</h5>
                                <p>izabella@sou.intech.com</p>
                        </td>

                        <td class="people-designation">
                            <h5>Engenheira de Software</h5>
                            <p>Web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role">
                            <p>Estagiária</p>
                        </td>

                        <td class="edit"><a href="#"> Ver perfil </a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <img src="mulheres.jpg"alt="">
                            <div class="people-de">
                                <h5>Izabella</h5>
                                <p>izabella@sou.intech.com</p>
                        </td>

                        <td class="people-designation">
                            <h5>Engenheira de Software</h5>
                            <p>Web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role">
                            <p>Estagiária</p>
                        </td>

                        <td class="edit"><a href="#"> Ver perfil </a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <img src="mulheres.jpg"alt="">
                            <div class="people-de">
                                <h5>Izabella</h5>
                                <p>izabella@sou.intech.com</p>
                        </td>

                        <td class="people-designation">
                            <h5>Engenheira de Software</h5>
                            <p>Web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role">
                            <p>Estagiária</p>
                        </td>

                        <td class="edit"><a href="#"> Ver perfil </a></td>
                    </tr>
                </tbody>
            </table>            
        </dir>     
    </section>

    <script>
        $('#menu-btn').click(function(){
            $('#menu').toggleClass("active");
        })
    </script>
            
</body>
</html>