<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/styleUsers/usuarioCandidata2.css">
    <title>Seu Currículo</title>
</head>

<body>
    <div class="container text-center">
        <nav> <img src="/images/Group.svg" alt=""></nav>
        <h1>Front-End Developer</h1>
        <p class="subtitulo">Google - Sênior - R$1000,00</p>
        <p class="textinho">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eligendi ipsum ex
            commodi nemo eum
            architecto
            neque distinctio, nihil quisquam deserunt tenetur, molestias totam laboriosam voluptatibus atque maiores
            ducimus
            harum?
        </p>
        <p class="textinho">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam ratione officia quo rem
            velit in,
            laboriosam
            hic quis labore dolorum. Vel, neque a ratione beatae quos ex impedit minus cum!</p>
        <div class="boxamarela">
            <h4>Soft Skills</h4>
            <div class="espacamento mb-4 p-3">
                <p class="caixinhacolab">Colaboração</p>
                <p class="caixinhacont">Controle das emoções</p>
            </div>

            <h4>Hard Skills</h4>
            <div class="espacamento p-3">
                <p class="caixinhagrad">Graduação em Tecnologia</p>
                <p class="caixinha">Excel</p>
                <p class="caixinha">Python</p>
                <p class="caixinha">Inglês</p>
            </div>
        </div>
        <button class="voltarbut but">Voltar</button>
        <button class="aplicarbut but">Aplicar</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>