<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="usuariaCandidataEditar.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>Edição de Perfil</title>
</head>
<body>
    <nav>
        <img src="../../images/logo.svg" alt="Logo da Brazilians in Tech">
    </nav>

    <div class="row">
        <div class="col-3 background">
            <a class="d-flex justify-content-center fs-3" href="./usuariaCandidata1.html">Voltar</a>
            <div class="firstprofile">
                <div id="img" class="mt-5">
                    <img class="ms-4" src="../../images/CandidataProfile.svg" alt="Ícone">
                </div>

                <h4 id="name">Izabella Togni</h4>
            </div>


        </div>

        <div class="col-6 col-sm-12 col-lg-7 d-flex">
            <div class="container mt-5">
                <h5 class="titles">Localização:</h5>
                    <select class="caixa2" name="Pais_candidata" id="pais">Selecionar</select>
                    

                    <h5 class="titles">Ocupação: </h4>
                <select class="form-select row select" name="Cargo_candidata" id="cargoCandidata">
                    <option value="" selected disabled hidden>Selecionar</option>
                    <option id='Administrador de Sistemas'>Administrador de Sistemas</option>
                    <option id='Administrador do Banco de Dados (DBA)'>Administrador do Banco de Dados (DBA)</option>
                    <option id='Analista de Mídias Sociais'>Analista de Mídias Sociais</option>
                    <option id='Analista de Segurança de Informação'>Analista de Segurança de Informação</option>
                    <option id='Analista de Sistemas'>Analista de Sistemas</option>
                    <option id='Arquiteto de redes'>Arquiteto de redes</option>
                    <option id='Ciência de dados'>Ciência de dados</option>
                    <option id='Desenvolvedor mobile'>Desenvolvedor mobile</option>
                    <option id='Engenharia de computação'>Engenharia de computação</option>
                    <option id='Engenharia de software'>Engenharia de software</option>
                    <option id='Especialista em e-Commerce'>Especialista em e-Commerce</option>
                    <option id='Gestão de Tecnologia da Informação'>Gestão de Tecnologia da Informação</option>
                    <option id='Jogos Digitais'>Jogos Digitais</option>
                    <option id='Marketing Digital'>Marketing Digital</option>
                    <option id='Profissional Help Desk'>Profissional Help Desk</option>
                    <option id='Programador de Computador'>Programador de Computador</option>
                    <option id='Programador web'>Programador web</option>
                    <option id='Robótica'>Robótica</option>
                    <option id='Segurança da informação'>Segurança da informação</option>
                    <option id='Segurança de sistemas'>Segurança de sistemas</option>
                    <option id='Técnico de informática'>Técnico de informática</option>
                </select>

                        <h5 class="titles">Grau de Instrução:</h5>
                            <label for="escolaridadeCandidata"></label>
                            <select class="row form-select select" name="Escolaridade_candidata" id="escolaridadeCandidata">
                                <option value="" disabled hidden selected>Selecionar</option>
                                <option value="EM">Ensino Médio</option>
                                <option value="SI">Superior Incompleto</option>
                                <option value="SC">Superior Completo</option>
                                <option value="PGI">Pós-Graduação Incompleta</option>
                                <option value="PGC">Pós-Graduação Completa</option>
                                <option value="MI">Mestrado Incompleto</option>
                                <option value="MC">Mestrado Completo</option>
                                <option value="DI">Doutorado Incompleto</option>
                                <option value="DC">Doutorado Completo</option>
                            </select>

                        <h5 class="titles">Soft Skills:</h5>
                    <label for="Soft-Skills" class="form-label"></label>
                    <input placeholder="Digite a habilidade desejada e pressione ENTER" type="text" name="Soft-Skills"
                        list="softSkillsList" id="soft-skills" class="form-control">
                    <select class="row form-select select" id="softSkillsList">
                        <option value="" disabled hidden selected></option>
                        <option value='Boa comunicação verbal'>Boa comunicação verbal</option>
                        <option value='Boa comunicação escrita'>Boa comunicação escrita</option>
                        <option value='Trabalho em equipe'>
                        <option value='Solução de problemas'>
                        <option value='Gerenciamento de tempo'>
                        <option value='Pensamento crítico'>
                        <option value='Tomadora de decisões'>
                        <option value='Organizacional'>
                        <option value='Gerenciamento de estresse'>
                        <option value='Adaptabilidade'>
                        <option value='Gestão e resolução de conflitos'>
                        <option value='Criatividade'>
                        <option value='Desenvoltura'>
                        <option value='Persuasão'>
                        <option value='Abertura a críticas'>
                        <option value='Atenção a detalhes'>
                        <option value='Ética de trabalho'>
                        <option value='Priorização'>
                        <option value='Definição de metas'>
                        <option value='Otimismo'>
                        <option value='Imaginação'>
                        <option value='Inovação'>
                        <option value='Autenticidade'>
                        <option value='Generosidade'>
                        <option value='Tolerância'>
                        <option value='Humor'>
                        <option value='Diplomacia'>
                        <option value='Disciplina'>
                        <option value='Comprometimento'>
                        <option value='Responsável'>
                        <option value='Introspecção'>
                        <option value='Despersonalização'>
                        </select>
                </div>
                        <div class="description" id="HSK"></div>

                        <h5 class="titles">Hard Skills:</h5>
                        <label for="Hard-Skills" class="form-label"></label>
                    <input placeholder="Digite a habilidade desejada e pressione ENTER" type="text" name="Hard-Skills"
                        list="hardskillslist" id="hard-skills" class="form-control">
                    <datalist id="hardskillslist">
                        <option value="JavaScript"></option>
                        <option value="HTML/CSS"></option>
                        <option value="Python"></option>
                        <option value="SQL"></option>
                        <option value="Java"></option>
                        <option value="Node.js"></option>
                        <option value="TypeScript"></option>
                        <option value="C#"></option>
                        <option value="Bash/Shell"></option>
                        <option value="C++"></option>
                        <option value="PHP"></option>
                        <option value="PowerShell"></option>
                        <option value="C"></option>
                        <option value="Go"></option>
                        <option value="Kotlin"></option>
                        <option value="Rust"></option>
                        <option value="Ruby"></option>
                        <option value="Assembly"></option>
                        <option value="Swift"></option>
                        <option value="R"></option>
                        <option value="VBA"></option>
                        <option value="Matlab"></option>
                        <option value="Groovy"></option>
                        <option value="Objective-C"></option>
                        <option value="Scala"></option>
                        <option value="Perl"></option>
                        <option value="Haskell"></option>
                        <option value="Delphi"></option>
                        <option value="Clojure"></option>
                        <option value="Elixir"></option>
                    </datalist>
                </div>
                <br><br><br><br>
                <button>Salvar alterações</button>
</body>
</html>