<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link estabelecendo conexão com Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Importação de fonte a ser usada nos textos da página  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- Link com o arquivo CSS pertinente a essa página -->
    <link
      rel="stylesheet"
      href="/src\Frontend\styles\styleRecruiter\CadastroRecrutador3.css"
    />

    <title>Cadastro empresa</title>
  </head>

  <body>
    <!-- Nav bar :D -->
    <nav>
      <img class="m-2" src="/src/Frontend/images/logo.svg" alt="iconBit" />
    </nav>

    <!-- Barra de progresso indicando a progressão no processo de cadastro -->
    <div class="cadastroBox2 container-fluid mt-4 col-sm-12 col-md-6">
      <div class="títuloTopo">
        <h1>Cadastre sua empresa!</h1>
      </div>

      <!-- Barra de progresso indicando a progressão no processo de cadastro -->
      <div class="progress mb-2 mt-4" style="width: 364px">
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <!-- Textos indicando em qual etapa do cadastro a pessoa se encontra -->
      <div class="legendaProgresso container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <div class="legendaDados">
              <p>Dados da Empresa</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="legendaContato">
              <p>Contato</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="legendaCadastro">
              <p>Cadastro</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Texto indicando que seja informado no campo abaixo um e-mail para cadastro -->
      <div class="insiraEmail">
        <p>Insira seu e-mail corporativo:</p>
      </div>

      <!-- Campo para preenchimento de e-mail para cadastro da empresa -->
      <input
        class="areaInputs border-0"
        type="email"
        name=""
        id=""
        placeholder="E-mail"
        required
      />

      <!-- Texto indicando que uma senha deverá ser escolhida nos campos abaixo -->
      <div class="definirSenha">
        <p>Defina uma senha de acesso:</p>
      </div>

      <!-- Campo para cadastro de senha -->
      <input
        class="areaInputs border-0"
        type="password"
        name=""
        id=""
        placeholder="Insira uma senha"
        required
      />

      <!-- Campo para confirmação de senha -->
      <input
        class="areaInputs border-0"
        type="password"
        name=""
        id=""
        placeholder="Confirme a sua senha"
        required
      />

      <!-- Texto em botão para finalizar cadastro -->
      <div class="finalizarCadastro" type="button">
        <p>> Finalizar cadastro!</p>
      </div>

      <!-- <input 
        type="submit"
        class="login"
        value="Finalizar cadastro >"
        onclick="validation()"
        formtarget="_blank"
      /> -->
    </div>
  </body>
</html>
