<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/styleRecruiter/recrutador1.css">
    <link rel="stylesheet" href="../../styles/styleRecruiter/cadastroRecrutadora1.css">
    <title>Cadastre sua empresa</title>
</head>

<body class="bg-image">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>


    <nav><img class="" src="../../images/logo.svg" alt="Logo da Brazilians in Tech"></nav>

    <form action="./cadastroRecrutadora2.html" method="get" style="animation: up 1.7s; margin-top: 20px;">
        <div class="caixa">
            <h1>Cadastre sua empresa</h1>
            <img src="../../images/CadastroRecrutadora1ProgressBar.svg" class="mt-2 mb-5 imagemprocess"
                alt="Barra de progresso - Dados da empresa">

            <label for="nomeEmpresa">Nome da Empresa</label>
            <input id="nomeEmpresa" class="inputBit border-0" type="text" placeholder="Nome da Empresa"
                name="Nome_Empresa">

            <label for="ramoEmpresa">Ramo de Atividade</label>
            <input id="ramoEmpresa" class="inputBit border-0" type="text" placeholder="Ramo de Atividade"
                name="Ramo_Atividade">

            <label for="cnpjEmpresa">CNPJ de sua empresa</label>
            <input id="cnpjEmpresa" maxlength="18" class="inputBit border-0" type="text" placeholder="CNPJ" name="cnpj">

            <label for="localizacaoEmpresa">Localização </label>
            <input id="localizacaoEmpresa" class="inputBit border-0" type="text" placeholder="Localização"
                name="Localizacao">

            <button type="submit" class="btnproprio">Próxima etapa</button>

        </div>


    </form>


    <script>
        $("#cnpjEmpresa").on("keyup", function (e) {
            $(this).val(
                $(this).val()
                    .replace(/\D/g, '')
                    .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1 $2 $3/$4-$5"));
        });
    </script>

</body>

</html>