:root

<<<<<<< Updated upstream:src/Frontend/styles/styleRecruiter/recrutador1.css
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
}
=======
>>>>>>> Stashed changes:src/Frontend/styles/styleRecruiter/cadastroRecrutadora1.css

h1{
    color: white;
}

img{
    text-align: left ;
}

nav{
    display: flex;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
}

.tamanho{
    height: 79px;
    width: 430px;
    border-radius: 11px;
}

nav{
    background-color: white;
}

.progress{
    background-color: yellow;
    width: 433px;
}

.progress-bar{
    background-color: yellow;
}

p{
    color: white;
    margin-left: -28.7%;
    size: 50px;
}