body{
    background-image: url("../../images/Background.svg");
    background-size: cover;
    overflow-x: hidden;
}

h1{
    color: white;
    font-family: 'Roboto Slab';
}

img{
    margin: 1em 6.5em;
}

nav{
    background-color: white;
    width: 103%;
    height: 4.7em;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
}

.tamanho{
    height: 79px;
    width: 430px;
    border-radius: 11px;
}

p{
    color: white;
    margin-left: -28.7%;
    size: 50px;
}

.inputBit{
    height: 79px;
    width: 430px;
    border-radius: 11px;
    gap: 50px;
    margin-bottom: 30px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .inputBit{
        width: 80%;
    }

   .imagemprocess{
       width: 80%;
   }

   nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


 }