body {
  background-color: #530084;
  background-image: url("/src/Frontend/images/Background.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Roboto Slab";
}

nav {
  height: auto;
  background-color: white;
  box-shadow: 1px 1px 15px rgb(50, 50, 50);
  margin-bottom: 40px;
}

.títuloTopo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(50, 50, 50);
}

.cadastroBox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  box-shadow: 1px 1px 5px rgb(50, 50, 50);
}

.legendaProgresso {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgb(50, 50, 50);
}

.legendaDados {
  display: flex;
  justify-content: start;
  align-items: center;
  color: grey;
  margin-right: 0px;
}

.legendaContato {
  display: flex;
  justify-content: start;
  align-items: center;
  color: grey;
  margin-right: 20px;
  margin-left: 30px;
}

.legendaCadastro {
  display: flex;
  justify-content: start;
  align-items: center;
  color: lightgrey;
  margin-left: 50px;
}

.insiraEmail {
  display: flex;
  justify-content: start;

  margin-bottom: 10px;
}

.areaInputs {
  width: 60%;
  height: 69px;
  border-radius: 11px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 1px 1px 8px rgb(50, 50, 50);
}

.definirSenha {
  display: flex;
  justify-content: start;

  /* margin-top: 30px; */
  margin-bottom: 10px;
  margin-top: 10px;
}

.finalizarCadastro {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  text-decoration: solid;
  font-family: "Roboto Slab", serif;
  text-shadow: 1px 1px 1px rgb(50, 50, 50);
  margin-top: 20px;
}
