body {
    background-color: #530084;
    background-image: url("/src/Frontend/images/530084\ \(5\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

nav {
    height: auto;
    background-color: white;
}

.cadastroBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legendaProgresso {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;

}

.legendaDados {
    display: flex;
    justify-content: start;


}

.legendaContato {
    display: flex;
    justify-content: start;


}

.legendaCadastro {
    display: flex;
    justify-content: start;


}

.areaInputs {
    width: 60%;
    height: 69px;
    border-radius: 11px;
    margin-bottom: 20px;
    text-align: center;

}

.definirSenha {
    display: flex;
    justify-content: start;

    
    margin-top: 10px;
    margin-bottom: 10px;

}

.finalizarCadastro {

    display: flex;
    justify-content: end;
    margin-right: 0px;
    text-decoration: solid;
    font-family: 'Roboto Slab', serif;

}