<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Cadastro empresa</title>
</head>

<h1> Cadastre sua empresa</h1>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
        </style>
    
    <div>
        <body>
            <form name="CadastroEmpresa">
                    <table>
                        <tr>
                            <td>
                                Email
                            </td>
                        
                            <td>
                                <input type=”mail”  placeholder=”Email” name=””>
                            </td>
                        </tr>
                        <p>Defina uma senha de acesso: </p>
                        <tr>
                            <td>
                                Senha:
                            </td>
                        
                            <td>
                                <input type=”Password” placeholder=”Password” name=””>
                            </td>
                        </tr>
                    
                     <tr>
                         <td>
                                Confirme a senha:
                            </td>
                        
                            <td>
                                <input type=”Password” placeholder=”Password” name=””>
                            </td>
                        </tr>
                    </table>
                <input type="submit" class="login" value="Finalizar cadastro >" onclick="validation()" formtarget="_blank">
            </form> 
    <div>
        </body>
</html>
